/*

Current nist.gov colors:

header background primary: #000;
header background secondary: #333333;
header background tertiary: rgba(51,51,51,0.9);;
header quarternary: ?
icons: #D42426
links: #fff
links-hover: #f5c636;
all text: #333;
header/title text: #666;

Previous Commerce.gov colors:

header background primary: #004273;
header background secondary: #4087AF;
header background tertiary: #E7F0F5;
header quarternary: ?
icons: #D42426
links: #4289AE
all text: #333;
header/title text: #666;

*/



/* Sticky Footer Styles */
html {
    position: relative;
    min-height: 100%;
    line-height: 1.45;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 220px;

    /* A better font */
    font-size: 1.4em;
    
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility\9
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Smaller blockquotes */
blockquote {
    font-size: 1.2em;
    padding: 5px 10px;
}

/* Kentico Admin Style Fixes */
.cms-bootstrap .PagePlaceholderHeader {
    background: rgba(131, 181, 88, 0.75) !important;
}

.StandardZone .WebPartZoneHeader {
    background: rgba(254, 181, 79, 0.75) !important;
}

.StandardWebPart .WebPartHeader {
    background: rgba(192, 222, 226, 0.75) !important;
}

.StandardWebPart .WebPartPlaceholder {
    background: rgba(189, 225, 154, 0.75) !important;
}


/* Adding required CSS for Angular-ui Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Making button for mobile white */
button.navbar-toggle {
    color: white;
}


/* Overall Style corrections to Bootstrap */
.row {
}

.tooltip {
    width: 300px;
}


/* Header / Brand */
.navbar {
	border-radius: 0;
	border: 0;
    margin-bottom: 0;
	background: black;
    -moz-box-shadow: rgba(0,0,0,0.36) 0 2px 10px 0;
    -webkit-box-shadow: rgba(0,0,0,0.36) 0 2px 10px 0;
    box-shadow: rgba(0,0,0,0.36) 0 2px 10px 0;
}
.container-logo {
	padding-top: 0.7em;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    text-shadow: none;
	font-size: 4em;
	color: #fff;
    padding-top: 5px;
}
.navbar-brand:hover,
.navbar-brand:focus {
	text-shadow: 2px 3px 0px rgba(255, 255, 255, 0.25);
}
.navbar-header {
}

#navbar-first-tagline a {
	text-shadow: none;
	font-size: 2em;
    font-weight: bold;
	color: #fff;
    text-transform: none;
}
#navbar-first-tagline a:hover,
#navbar-first-tagline a:focus {
    text-decoration: none;
	text-shadow: 2px 3px 0px rgba(255, 255, 255, 0.25);
}

#navbar-second-tagline a {
	text-shadow: none;
	font-size: 1.3em;
    font-weight: bold;
	color: #fff;
    text-transform: none;
}
.navbar-second-tagline a:hover,
.navbar-second-tagline a:focus {
    text-decoration: none;
}

.navbar-nist-logo {
	text-align: right;
	color: #fff;
}
.navbar-nist-name {
	font-size: 0.9em;
	font-weight: bold;
}
.navbar-doc-name a {
    color: white;
	font-size: 0.7em;
}
.navbar-doc-name a:hover,
.navbar-doc-name a:focus {
}




/* Header / Navigation */
/*  background-color: #004273;
	background-color: #4188af;
	background-color: #e7f0f5; */
nav {
	display: block;
	border-image-width: 0 0 0 0;
}
.navbar {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	border-image-width: 0 0 0 0;
	background-color: #333;

}
.navbar-brand {
    height: inherit;
}
.container-logo {
	/* background: url("../images/circuit-bg.jpg") no-repeat scroll left bottom; */
	background-color: #000;
}

.navbar-csrc {
	height:40px;
	min-height:40px;
	background-image: none;
	background-color: #333333;
}

#main-menu-drop {
    background-color: #333333;
}

#mobile-nav-container {
    display: none;
}

.navbar-csrc .navbar-nav > li > a {
    color: #fff;
}
.navbar-csrc .navbar-nav > .active > a {
    background-image: linear-gradient(to top, #4e91b7 0px, #4087af 100%);
    background-repeat: repeat-x;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar-csrc-secondary {
	min-height:40px;
	background-image: none;
	background-color: #E7F0F5;
}
.navbar-csrc-secondary .navbar-nav > li > a {
    color: black;
	font-size: 1em;
}
.navbar-csrc-secondary .navbar-nav > .active > a {
    background-color: #4188af;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25) inset;
}


nav ul.nav > li.active,
nav ul.nav > li.active > a {
	height:40px;
	min-height:40px;
}
.navbar-nav  li  a {
	padding-top: 10px;
	padding-bottom: 10px;
}
div#bs-example-navbar-collapse-1,
div.container-fluid {
	margin-bottom: 0px;
}
.navbar-collapse .in {
	z-index: 99999;
}
.nav > li > a:hover, 
.nav > li > a:focus {
    color: #000;
}
form.navbar-form div.btn-group {
	margin-top: 0px;
}
.form-group .search-box {
	width: 15em;
}


#main-menu {
    text-transform: uppercase;
    font-weight: 700;
}

#main-menu .navbar-nav > li > .dropdown-menu {
    padding: 0;
}

#main-menu .nav > li > a {
    color: #fff;
	transition: color 300ms ease;
    background-color: #333;
}

#main-menu .nav > li > a:focus,
#main-menu .nav > li > a:hover {
    color: rgb(245, 198, 54);
    background-color: #333;
}

#main-menu .dropdown-menu > li > a {
    font-weight: 700;
    background-color: #333 !important;
    color: white;
	transition: color 300ms ease;
    text-transform: none;
}

#main-menu .dropdown-menu > li > a:focus, 
#main-menu .dropdown-menu > li > a:hover {
    color: rgb(245, 198, 54);
    background-color: #333 !important;
    background-image: none;
}

/* This fixes a problem that prevents navigation on menu for drop-down headers */
ul.nav li.dropdown ul.dropdown-menu {
	transition: height 300ms ease;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
    background-color: #333 !important;
    background-image: none;
}

/* Nav Tabs 
.nav-tabs {
	border-bottom: 1px solid #9e9e9e;
}
.nav-tabs > li > a {
	height: 2.2em;
    background-image: none;
    background-color: #4087AF;
    color: white;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.nav-tabs > li.active > a {
    background-image: none;
	background-color: #ffffff;
}
.nav-tabs > li > a:hover {
    border-color: #9e9e9e #9e9e9e #9e9e9e;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #9e9e9e;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: black;
	border-color: #9e9e9e;
	border-bottom-color: transparent;
}*/

/* NVD Menu (megamenu) */
#nvd-menu-button > a {
	color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding-left: 11.2px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin: 5px 10px 10px 20px;
    text-transform: uppercase;
    height: 38px;
    line-height: 38px;
    display: block;
    transition: color 300ms ease;
    background: #595959;
    text-decoration: none;
}

#main-menu-drop {
	border-top: 1px solid #333333;
    background: black;
    z-index: 999999;
}

#main-menu-drop > ul {
	border-top: 1px solid #333333;
	padding-left: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

#main-menu-drop li {
	display: block;
	float: none;
	clear: both;
	padding: 0;
	margin: 0;
	list-style: none;
}

#mobile-nav-container .navbar-brand,
#mobile-nav-container .navbar-brand:hover,
#mobile-nav-container .navbar-brand:focus {
    text-shadow: none;
	font-size: 4em;
	color: #fff;
    padding-top: 10px;
}

#main-menu-drop > ul > li {
	border-right: 0;
}

#main-menu-drop .expander {
	background: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    text-align: center;
	display: inline-block;
	    padding: 0.7rem 0rem 0rem 0rem;
    z-index: 1;
}
#main-menu-drop a {
	text-align: left;
	position: relative;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	transition: color 300ms ease;
	color: white;
	text-decoration: none;
}
#main-menu-drop a:hover,
#main-menu-drop a:focus {
    color: #f5c636;
}

#nvd-menu-button {
    padding-top: 5px;
}
#nvd-menu-button > a.menu-toggled {
    color: black;
    background-color: white;
    text-decoration: none;
    outline: 0;
}

#main-menu-drop > ul > li > a {
	font-size: 21px;
	padding: 0.8rem 1rem;
	border-bottom: 1px solid #333333;
}

#main-menu-drop li.expandable > ul {
	padding-left: 40px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333333;
}

#main-menu-drop li.expandable > ul > li {
	margin-top: 10px;
}

#main-menu-drop li.expandable > ul > li > a {
	font-size: 1.1em;
}



/* Secondary Navigation */
.nav-secondary {
	background-image: linear-gradient(to top, #EEEEEE 0px, #DEDEDE 100%);
	background-repeat: repeat-x;
}
.nav-secondary ul.nav > li.active,
.nav-secondary ul.nav > li.active > a{
	height:25px;
	min-height:25px;
}
.nav-secondary  li  a,
.nav-secondary  li  a:visited {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	background-color: transparent;
	color: #e3e3e3;
}
.nav-secondary .navbar-nav > li > a {
	color: #000;
}
.nav-secondary  li  a:hover,
.nav-secondary  li  a:focus {
	color: #000;
	background-image: linear-gradient(to bottom, #EEEEEE 0px, #DEDEDE 100%);
	background-repeat: repeat-x;
}





/* Forms */
.navbar-form .form-control {
	height: 24px;
	padding: 2px 8px;
}
.btn {
	line-height: 0.7em;
}




/* Main Body */
#body-section {
	margin-left: auto;
	margin-right: auto;
}




/* Page Header */
.page-header > h2:nth-child(1) {
	margin-top: 0.3em;
}





/* Footer Section */
footer {
    width: 100%;
    background-color: #000;
    color: #FFF;
    /* Set the fixed height of the footer here */
    height: 200px;
    position: absolute;
    bottom: 0;
}
footer .nist-info-container,
footer .links-container,
footer .subscription-container {
    height: 200px;
}
footer p {
    color: #FFF;
}
footer a {
    color: #FFF;
}
footer a:hover,
footer a:active {
    color: lightgray;
}
footer h5 {
    font-weight: bold;
    margin-bottom: 0.1em;
}
footer div.nist-info-container {
    padding-top: 1em;
    text-align:center;
    font-size: 1em;
}
footer div.links-container {
    font-size: 1.1em;
    padding-top: 0.4em;
    background-color: #333333;
    color: #000;
}
footer div.links-container strong {
	color: white;
}
footer div.document-information {
    text-align:center;
    padding-top: 1.8em;
    font-size: 0.9em;
    color: #333333;
}
footer #footer-last-updated {
	color: white;
}
footer div.subscription-container {
    vertical-align:middle;
    padding-top: 1em;
}
footer ul {
    padding: 0px;
}
footer div.social-buttons {
    font-align: center;
}





/* Button Navigation */
.btn-page-section ,
.btn-page-section:visited,
.btn-page-section:active{
    color: #FFF;
    background-color: #000;
    border-color: #000;
}
.btn-page-section:hover{
    color: #000;
    background-color: #FFF;
}





/* Breadcrumb navigation */
.breadcrumb {
	margin-bottom: 0;
}
.google_translate_element {
	height: 24px;
}





/*  Featured Section */
div.featured-item {
	padding: 0.1em 0.5em 0.5em 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 12px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	background-clip: padding-box;
	background-color: #000;
	color: #FFF;
}
div.featured-item a {
	color: #e7f0f5;
}






/* Tabbed Section */
#tabbed-section {
	margin-top: 1.2em;
	padding-top: 1.2em;
	margin-bottom: 0px;
}
.tab-pane .row {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0.7em;
	padding-right: 0.7em;
}
.tab-pan .panel-default {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.nav-tabs {
	font-weight: bold;
}
div.events h3 {
    margin: 0;
	padding: 0.1em 0em 0.3em 0.4em;
    text-decoration: underline;
}

.tab-content .btn-group {
	margin-top: 0.5em;
}
.calendar-events {
	padding: 0 0.3em 0.3em 1.5em;
}








/* Body Section */
#body-section h1 {
    font-size: 2.25em;
    margin-top: 0.6em;
}
#body-section h2 {
    font-size: 2em;
    margin-top: 0.5em;
}
#body-section h3 {
    font-size: 1.8em;
    margin-top: 0.4em;
}
#body-section h4 {
    font-size: 1.4em;
    margin-top: 0.3em;
}
#body-section h5 {
    font-size: 1.2em;
    margin-top: 0.2em;
}
#body-section h6 {
    font-size: 1em;
    margin-top: 0.1em;
}





/** Page-Level Styles **/
.page-header {
    margin: 1em 0px 0.5em;
}

.lead {
    font-size: 1.3em;
}



/** Social buttons and things **/
.copyrights {
	padding-top: 0.3em;
}
button.btn.btn-rss {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #FE9900;
	background-image: linear-gradient(to bottom, #FEB25E, #FF701D);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}



/* Visualizations */
ul.nav-vis {
    text-align: center;
}
ul.nav-vis > li > a {
	border: solid 1px #337ab7;
}
ul.nav-vis > li.active > a {
	background-color: #337ab7;
    color: #32e632;
}



/* Pagination */
.pagination {
    font-size: 12px;
    margin: 5px 0;
}

.pagination > li > a {
    padding: 4px 9px;
}


/* Projects */
.project-details-container h1 {
	display: inline-block;
}
.project-details-container h2 {
	color: #337ab7;
}



/* Homepage Listing */
ul#latestVulns {
    height: 320px;
    padding: 0px;
	overflow: hidden;
    margin: 0px;
    list-style: none;
    border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #DDD;
}
ul#latestVulns li {
    padding: 4px 4px;
    margin: 0px;
}


/* Projects Nav Container */
.project-nav-container {
	margin-top: 1em;
}
.project-nav-container .pills-label-container {
	font-weight: normal;
	color: #777;
	cursor: auto;
	position: relative;
	display: block;
	padding: 3px 15px;
	font-size: 1.65em;
}
.project-nav-container .nav-pills > li {
	margin-left: 0.5em;
    margin-bottom: 0.3em;
}
.project-nav-container .nav-pills > li > a {
	border: solid 1px #337ab7;
}
.project-nav-container .nav-pills > li.active > a {
	background-color: #337ab7;
}




/* Projects Side Box */
.projects-side-content-container {
    float: right;
    min-width: 250px;
    min-height: 2px;
}
.project-pages-links-sitemap {
    color: #337ab7;
    border: solid 1px #337ab7;
    border-radius: 4px;
    padding: 5px;
}
.project-pages-links-sitemap ul > li {
	list-style-type: none;
}




/* Projects 2 Side Nav */
.side-bar-nav {
    padding: 5px 15px 5px 15px;
}
.side-bar-nav > li > ul {
	margin-left: 0.5em;
}
.side-bar-nav > li > a {
	padding: 0px;
}
.side-bar-nav > li > a:hover {
	background-color: white;
}
.nav-header {
	font-weight: bold;
	padding-bottom: 0.2em;
	margin: 0.3em 0 0.3em 0.3em;
}




/* Projects 2 tabs */
ul.projects3 li a {
	padding: 0.3em 0.4em 0.1em 0.4em;
}




/** Project Pages **/
.projects-side-content-container .CMSTreeMenuTable {
	margin-left: 1em;
}

.projects-side-content-container .active {
	padding: 1em 1em 1em 1em;
	background-color: #337ab7;
	color: white;
	border-radius: 10px;
}

.projects-side-content-container .active a {
	color: white;
	font-weight: normal;
	padding: 0.1em 0.1em;
}

.projects-side-content-container a.CMSTreeMenuSelectedLink {
	background-color: white;
	color: #337ab7;
	border-radius: 3px;
}





/* Events Page */
.event-list {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.event-list-row {
    margin-bottom: 1em;
}

.event-list-information {
    background-color: rgba(0, 0, 0, 0.1);
    align-content: center;
}

.event-details-details-box {
    background-color: rgba(0, 0, 0, 0.1);
}




/** Search Page Styles **/
.search-box-container .form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}
.search-box-container .form-horizontal .form-group,
.search-box-container .form-horizontal .form-group > div {
	float: left;
}
.form-group-submit > input {

}

.search-nav-container > li > a {
	background-image: none;
	background-color: #E5E5E5;
	color: #4B8FB5;
	/* background-color: #4B8FB5; */
	/* background-color: #E5E5E5; */
}

.search-nav-container > li {
	padding-left: 2px;
}

.search-nav-container > li:first-of-type {
	padding-left: 0;
}


/* News Pages */
div.news-date-container {
	margin-left: 0px;
	width: 48px;
	height: 48px;
	background: #FFF none repeat scroll 0% 0%;
	text-align: center;
	color: #666;
	line-height: 1;
	padding: 9px;
	position: relative;
}


div.news-date-container a {
    font-size: 0.4em;
}

div.news-teaser-container {
    padding-left: 15px;
}

span.date-month {
    display: block;
    line-height: 1.1;
    font-size: 14px;
}

span.date-day {
    font-size: 22px;
    display: block;
}

span.date-year {
    display: block;
    font-size: 14px;
}


/* Smaller Font-awesome icons */
.fa-smaller-icon {
    font-size: 75%;
}


/* dl horizontal lists */
.dl-horizontal dt {
    width: 200px;
}

.dl-horizontal dd {
    margin-left: 205px;
}

dt {
    font-weight: 600;
}



/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
	margin: 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.bs-callout h4 {
	margin-top: 0;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.bs-callout-success {
	background-color: #ecfdf8;
	border-color: #ccf0ca;
}


/* Vuln Categories - CWE */
.cwe-tree-container {
}

.cwe-tree .node rect {
  fill: #fff;
  fill-opacity: 1;
  stroke: #270000;
  stroke-width: 1px;
}

.cwe-tree .node text {
  font-size: 0.6em;
    font-family: monospace;
  pointer-events: none;
    color: #000154;
}

.cwe-tree path.link {
  fill: none;
  stroke: #000154;
  stroke-width: 1.3px;
}

.cwe-tree text.header {
    font-size: 1.3em;
    margin: 0.6em 0px 0.4em;
    font-family: Verdana,Geneva,Arial,helvetica,sans-serif;
    color: #000154;
}



/* Extra Button types btn-high, btn-low */
.btn-high:focus, .btn-high:hover {
    background-color: #F87F39;
    background-position: 0 -15px;
}

.btn-high:hover {
    color: #fff;
    background-color: #F87F39;
    border-color: #C1500A;
}
.btn-high {
    color: #fff;
    background-color: #d9534f;
    background-image: -webkit-linear-gradient(top,#F87F39 0,#C1500A 100%);
    background-image: -o-linear-gradient(top,#F87F39 0,#C1500A 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F87F39),to(#C1500A));
    background-image: linear-gradient(to bottom,#F87F39 0,#C1500A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF87F39', endColorstr='#ffC1500A', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #C1500A;
}

.btn-low:focus, .btn-low:hover {
    color: #000;
    background-color: #E3CC13;
    background-position: 0 -15px;
}

.btn-low:hover {
    color: #000;
    background-color: #D4D62A;
    border-color: #F2D60C;
}

.btn-low {
    color: #000;
    background-color: #E3CC13;
    background-image: -webkit-linear-gradient(top,#D4CC2A 0,#F2CC0C 100%);
    background-image: -o-linear-gradient(top,#D4CC2A 0,#F2CC0C 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#D4CC2A),to(#F2CC0C));
    background-image: linear-gradient(to bottom,#D4CC2A 0,#F2CC0C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffD4CC2A', endColorstr='#ffF2CC0C', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #E3CC13;
}

.btn-critical:focus, .btn-critical:hover {
    color: #fff;
    background-color: #000;
    background-position: 0 -15px;
}

.btn-critical:hover {
    color: #fff;
    background-color: #000;
    border-color: #9e9e9e;
}
.btn-critical {
    color: #fff;
    background-color: #000;
    border-color: #9e9e9e;
}



/* Extra Label types label-high, label-low */
.label-high[href]:focus, .label-high[href]:hover {
    background-color: #F87F39;
}
.label-high {
    color: #fff;
    background-color: #F87F39;
}

.label-low[href]:focus, .label-low[href]:hover {
    background-color: #E3CC13;
}
.label-low {
    color: #fff;
    background-color: #f2cc0c;

}

.label-critical[href]:focus, .label-critical[href]:hover {
    color: #fff;
    background-color: #000;
}
.label-critical {
    color: #fff;
    background-color: #000;
}


/* Tables Smaller */
.table-smaller > tbody > tr > td, 
.table-smaller > tbody > tr > th, 
.table-smaller > tfoot > tr > td, 
.table-smaller > tfoot > tr > th, 
.table-smaller > thead > tr > td, 
.table-smaller > thead > tr > th {
    padding: 1px;
    font-size: 1em;
}

.table-smaller>tbody>tr>td, 
.table-smaller>tbody>tr>th, 
.table-smaller>tfoot>tr>td, 
.table-smaller>tfoot>tr>th, 
.table-smaller>thead>tr>td, 
.table-smaller>thead>tr>th {
    padding: 3px;
}



/* Tables Condensed */
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
    padding: 1px;
    font-size: 0.85em;
}

.ncp-table > tbody > tr > td,
.ncp-table > tbody > tr > th,
.ncp-table > tfoot > tr > td,
.ncp-table > tfoot > tr > th,
.ncp-table > thead > tr > td,
.ncp-table > thead > tr > th {
    padding: 0 10px 0 10px;
    font-size: 0.85em;
}


.table-condensed pre {
    display: inline;
    padding:2px;
    margin: 0;
    font-size: 1em;
    line-height: 1.42857143;
    color: #333;
    word-break: normal;
    background-color: transparent;
    border: none;
    white-space: pre-wrap;
}



/* Carousel on Home Page for Visualizations */
#carousel-home {
    max-height: 500px;
    max-width: 1370px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.carousel-inner>.item>a>img, 
.carousel-inner>.item>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#body-section div.carousel-caption {
    color: black;
    text-shadow: 0 4px 4px rgba(255,255,255,.9);
}

#body-section div.carousel-caption > h3 {
    font-size: 45px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 20px rgba(255,255,255,1);
}

#body-section div.carousel-caption > p {
    font-size: 1.4em;
    color: black;
    text-shadow: 1px 1px 20px rgba(255,255,255,1);
}

#carousel-home .carousel-control {
    color: black;
    text-align: center;
    text-shadow: 0 1px 2px rgba(255,255,255,.8);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=0);
    opacity: 1;
}

#carousel-home .carousel-caption {
    position: absolute;
    right: 15%;
    top: 0px;
    bottom: auto;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#body-section #carousel-home div.carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 20%;
    padding-right: 20%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,1+20,0.7+80,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.7) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.7) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}

#body-section #carousel-home .carousel-control.right {
    background-image: none;
}

#body-section #carousel-home .carousel-control.left {
    background-image: none;
}

.carousel-indicators li {
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #000;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #000;
}


/* Panel Coloring */
.panel-primary {
    border-color: #000;
}
.panel-primary > .panel-heading {
    background-color: #000;
    border-color: #000;
    background-image: none;
}
.panel-heading > h3 {
	font-size: 1.4em!important;
    margin-bottom: 5px!important;
    margin-top: 5px!important;
}
.panel-body h4 {
    font-size: 1.2em!important;
    margin-top: 10px!important;
    margin-bottom: 5px!important;
}
.panel-body .btn {
    padding: 6px 8px!important;
}
.panel-body .btn-default {
    background-image: none;
}

.btn-group > .btn:last-of-type {
    -webkit-border-top-right-radius: 4px!important;
    -moz-border-top-right-radius: 4px!important;
    border-top-right-radius: 4px!important;
    -webkit-border-bottom-right-radius: 4px!important;
    -moz-border-bottom-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}


/* NCP Pages */
table.scap-expressed th {
    text-align: center;
}



/* SCAP Pages */
#scap-validation-record-table th {
    text-align: right;
}

#scap-validation-record-table > tbody > tr > th,
#scap-validation-record-table > tbody > tr > td {
    border-top: none;
}



/******************
* leavnotice styles
******************/

#ln-blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 800;
}
#ln-messageHolder {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#ln-messageBox {
    width: 460px;
    margin: 0 auto;
    min-height: 200px;
    background-color: #fff;
    border: 10px solid #e6e6e6;
    -moz-box-shadow: 0 0 20px 10px #666;
    -webkit-box-shadow: 0 0 20px #666;
    text-align: center;
    padding: 20px;
}
a#ln-cancelLink {
    background-color: #e6e6e6;
    font-weight: bold;
    padding: 5px;
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
}
a#ln-cancelLink:hover {
    background-color: #666;
    color: #e6e6e6;
}
.setoff {
    background-color: #f2f2f2;
    padding: 5px;
    margin: 10px 0 20px 0;
}



/***************************************
    NVD Dashboard Components
***************************************/
.dash-overlay > div {
    position: relative; /* makes the div go into a position thats absolute to the browser viewing area */
    left: 50%; /* positions the div half way horizontally */
    top: 30%; /* positions the div half way vertically */
    margin-left: 0;
}
.dash-overlay {
    position: relative; /* makes the div go into a position thats absolute to the browser viewing area */
    left: 0; /* positions the div half way horizontally */
    top: 0; /* positions the div half way vertically */
    background-color: #ffffff;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 100000; /* makes the div the top layer, so itll lay on top of the other content */
}